<div data-th-fragment="content">
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <th:block th:replace="~{fragments/alert_message_fragment::alertMessages(${errorMessages}, ${successMessage})}"></th:block>
                <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-center" style="padding: 1rem;">
                        <h5 class="mb-0">Edit Trip</h5>
                    </div>
                    <div class="card-body">
                        <form data-th-action="@{|/trips/update/${trip.id}|}" method="post" data-th-object="${trip}">
                            <div class="form-group">
                                <label for="name">Trip Name:</label>
                                <input type="text" class="form-control" id="name" name="name" data-th-field="*{name}" required>
                            </div>
                            <div class="form-group">
                                <label for="startDate">Start Date:</label>
                                <input type="date" class="form-control" id="startDate" name="startDate" th:value="${formattedStartDate}" required>
                            </div>
                            <div class="form-group">
                                <label for="location">Location:</label>
                                <input type="text" class="form-control" id="location" name="location" data-th-field="*{location}" required>
                            </div>
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea class="form-control" id="description" name="description" data-th-field="*{description}" rows="10" style="margin-bottom: 20px;"></textarea>
                            </div>
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-outline-success">Save Changes</button>
                                <div>
                                    <a th:href="@{|/trips/manage-participants/${trip.id}|}" class="btn btn-outline-primary">Manage Participants</a>
                                    <a th:href="@{|/trips/manage-events/${trip.id}|}" class="btn btn-outline-primary">Manage Events</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
