<div data-th-fragment="content">
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <th:block
                        th:replace="~{fragments/alert_message_fragment::alertMessages(${errorMessages}, ${successMessage})}"></th:block>
                <ul class="nav nav-tabs justify-content-center mb-4">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#editTrip">Edit Trip</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#currentParticipants">Current Participants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#addParticipant">Add Participant</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#editEvents">Edit Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#addEvent">Add New Event</a>
                    </li>
                </ul>
                <div class="tab-content">

                    <div id="editTrip" class="tab-pane fade show active col-md-6 offset-md-3">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-center"
                                 style="padding: 0.8rem;">
                                <h5 class="mb-0">Edit Trip</h5>
                            </div>
                            <div class="card-body">
                                <form data-th-action="@{|/trips/update/${trip.id}|}" method="post"
                                      data-th-object="${trip}">
                                    <div class="form-group">
                                        <label for="name">Trip Name:</label>
                                        <input type="text" class="form-control" id="name" name="name" maxlength="30"
                                               data-th-field="*{name}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="startDate">Start Date:</label>
                                        <input type="date" class="form-control" id="startDate" name="startDate"
                                               th:value="${formattedStartDate}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="tripLocation">Location:</label>
                                        <input type="text" class="form-control" id="tripLocation" name="location"
                                               data-th-field="*{location}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="defaultCurrency">Default Currency:</label>
                                        <select class="form-control" id="defaultCurrency" name="defaultCurrency"
                                                required>
                                            <option value="" th:selected="${trip.defaultCurrency == null}">Select a
                                                currency
                                            </option>
                                            <option th:each="currency : ${T(uwr.ms.constant.Currency).values()}"
                                                    th:value="${currency.name()}"
                                                    th:selected="${currency.name() == trip.defaultCurrency?.name()}"
                                                    th:text="${currency.name()} + ' - ' + ${currency.getDescription()}">
                                                Currency
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Description:</label>
                                        <textarea class="form-control" id="description" name="description"
                                                  data-th-field="*{description}" rows="10"
                                                  style="margin-bottom: 20px;"></textarea>
                                    </div>
                                </form>
                                <div class="d-flex justify-content-between">
                                    <button type="submit" class="btn btn-outline-success">Save Changes</button>
                                    <div>
                                        <form th:action="@{|/trips/delete-trip/${trip.id}|}" method="post"
                                              onsubmit="return confirm('Are you sure you want to delete this trip?');">
                                            <button type="submit" class="btn btn-outline-danger">Delete trip</button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="currentParticipants" class="tab-pane fade col-md-6 offset-md-3">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-center"
                                 style="padding: 0.8rem;">
                                <h5 class="mb-0" th:text="${tripName} + ' Participants'">Trip Participants</h5>
                            </div>
                            <div class="card-body">
                                <div class="list-container">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-between align-items-center"
                                            th:each="participant : ${participants}">
                                            <div class="d-flex align-items-center">
                                                <img th:if="${participant.user.imageUrl != null && !participant.user.imageUrl.isEmpty()}"
                                                     th:src="${participant.user.imageUrl}" alt="Avatar"
                                                     class="rounded-circle"
                                                     style="width: 2rem; height: 2rem; margin-right: 0.5rem;">
                                                <span th:text="${participant.user.username} + (${participant.user.name} != ${participant.user.username} ? ' (' + ${participant.user.name} + ')' : '')">Username</span>
                                            </div>
                                            <form th:action="@{/trips/remove-participant/{tripId}/{participantUsername}(tripId=${tripId}, participantUsername=${participant.user.username})}"
                                                  method="post" th:if="${!participant.user.username.equals(tripOwner)}">
                                                <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                                            </form>
                                        </li>
                                        <li class="list-group-item" th:if="${#lists.isEmpty(participants)}">No
                                            participants added yet.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="addParticipant" class="tab-pane fade col-md-6 offset-md-3">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-center"
                                 style="padding: 0.8rem;">
                                <h5 class="mb-0">Your friends</h5>
                            </div>
                            <div class="card-body">
                                <div th:if="${not #lists.isEmpty(friends)}">
                                    <form th:action="@{/trips/add-participant/{tripId}(tripId=${tripId})}" method="post"
                                          class="form-inline justify-content-center mb-3">
                                        <input id="friendInput" type="text" class="form-control mb-2 mr-sm-2"
                                               placeholder="Search and select a friend" oninput="filterFriends()"
                                               autocomplete="off"
                                               name="username" required>
                                        <button type="submit" class="btn btn-primary" disabled>Invite to the trip!
                                        </button>
                                    </form>
                                    <div class="friends-container">
                                        <ul id="friendsList" class="list-group">
                                            <li th:each="friend : ${friends}" class="list-group-item">
                                                <div class="d-flex align-items-center">
                                                    <img th:if="${friend.imageUrl != null && !friend.imageUrl.isEmpty()}"
                                                         th:src="${friend.imageUrl}" alt="Avatar" class="rounded-circle"
                                                         style="width: 2rem; height: 2rem; margin-right: 0.5rem;">
                                                    <span th:text="${friend.username} + (${friend.name} != ${friend.username} ? ' (' + ${friend.name} + ')' : '')">Username</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div th:if="${#lists.isEmpty(friends)}" class="text-center">
                                    <p>No available friends to add.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="editEvents" class="tab-pane fade col-md-6 offset-md-3">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-center"
                                 style="padding: 0.8rem;">
                                <h5 th:text="${trip.name} + ' Events'" class="mb-0">Trip Events</h5>
                            </div>
                            <div class="card-body">
                                <div class="list-container">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item" th:each="event : ${events}"
                                            th:if="!${#lists.isEmpty(events)}">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <h6 th:text="${event.eventName}">Event Name</h6>
                                                    <small th:text="${event.date} + ' at ' + ${event.time}">Date and
                                                        Time</small>
                                                </div>
                                                <form th:action="@{|/trips/${trip.id}/delete-event/${event.id}|}"
                                                      method="post" class="ml-auto">
                                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                                </form>
                                            </div>
                                        </li>
                                        <li class="list-group-item text-center" th:if="${#lists.isEmpty(events)}">
                                            No events added yet.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="addEvent" class="tab-pane fade">
                        <div class="card">
                            <div class="card-body row">
                                <div class="col-md-4 mt-2">
                                    <form id="eventForm" data-th-action="@{|/trips/manage-events/${trip.id}/save|}"
                                          method="post"
                                          data-th-object="${event}">
                                        <div class="mb-2">
                                            <label for="eventName">Event Name:</label>
                                            <input type="text" class="form-control" id="eventName" name="eventName"
                                                   required>
                                        </div>

                                        <div class="mb-2">
                                            <label class="mb-1">Event Type:</label>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="singlePlace"
                                                       name="eventType" value="SINGLE" checked
                                                       onchange="toggleRouteFields()">
                                                <label class="form-check-label" for="singlePlace">Single Place</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="route"
                                                       name="eventType" value="ROUTE" onchange="toggleRouteFields()">
                                                <label class="form-check-label" for="route">Route</label>
                                            </div>
                                        </div>

                                        <div id="locationField" class="form-group mb-2">
                                            <label for="location">Location:</label>
                                            <input type="text" class="form-control" id="location" name="location"
                                                   required>
                                        </div>

                                        <div id="routeFields" class="mb-2" style="display: none;">
                                            <div class="form-group">
                                                <label for="origin">Origin:</label>
                                                <input type="text" class="form-control" id="origin" name="origin">
                                            </div>

                                            <div class="mb-3">
                                                <label for="destination">Destination:</label>
                                                <input type="text" class="form-control" id="destination"
                                                       name="destination">
                                            </div>

                                            <div class="mb-3">
                                                <label for="travelMode">Travel Mode:</label>
                                                <select class="form-control" id="travelMode" name="travelMode">
                                                    <option value="DRIVING">Driving</option>
                                                    <option value="WALKING">Walking</option>
                                                    <option value="BICYCLING">Bicycling</option>
                                                    <option value="TRANSIT">Transit</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="text-center mt-2">
                                            <button type="button" class="btn btn-primary" onclick="loadMapPreview()">
                                                Load Map Preview
                                            </button>
                                        </div>

                                        <div id="zoomControlDiv" class="text-center mt-2 mb-3">
                                            <label for="zoomControl">Zoom Level:</label>
                                            <input type="range" id="zoomControl" name="zoom" min="1" max="18" value="12"
                                                   step="1" onchange="adjustZoom()" disabled>
                                        </div>

                                        <div class="mb-3">
                                            <label for="date">Date:</label>
                                            <input type="date" class="form-control" id="date" name="date" required>
                                        </div>

                                        <div>
                                            <label for="time">Time:</label>
                                            <input type="time" class="form-control" id="time" name="time" required>
                                        </div>
                                    </form>
                                </div>

                                <div class="col-md-8">
                                    <h5 class="text-center">Map Preview</h5>
                                    <div id="initialText"
                                         style="width: 100%; height: 36rem; line-height: 36rem; text-align: center; border: 1px solid #ccc;">
                                        Enter location and press 'Load Map Preview'
                                    </div>
                                    <div id="mapPreview" style="width: 100%; height: 36rem; display: none;"
                                         th:data-api-key="${googleMapsApiKey}"></div>
                                </div>
                            </div>
                            <div class="text-center mb-3">
                                <button id="eventFormSubmitBtn" type="submit" class="btn btn-primary">Add New
                                    Event
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
