<div data-th-fragment="content">
  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <div class="card">
          <div class="card-header text-center">
            <h5>Error Details</h5>
          </div>
          <div class="card-body">
            <h4 class="text-center text-danger">Oops! Something went wrong.</h4>
            <div class="alert alert-danger" role="alert">
              <p><b>Message:</b> <span data-th-text="${message}">Error message here</span></p>
              <p><b>Status:</b> <span data-th-text="${status}">Error status here</span></p>
              <p><b>Time:</b> <span data-th-text="${#dates.format(timestamp, 'dd MMM yyyy HH:mm:ss')}">Error time here</span></p>
            </div>
            <div class="text-center">
              <a th:href="@{/}" class="btn btn-primary">Go Home</a>
              <button type="button" onclick="window.history.back();" class="btn btn-outline-secondary">Go Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>