<div class="container mt-5" data-th-fragment="content">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="home-link-container d-flex justify-content-center align-items-center link-color text-decoration-none">
            <div class="logo-container">
              <img src="/images/logo.jpg" alt="Logo" class="rounded-circle border logo-img">
            </div>
            <div class="title-container">
              <span class="fs-5">Travel Planner</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>