<div data-th-fragment="content">
  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h4>Welcome to Travel Planner</h4>
          </div>
          <div class="card-body">
            <p class="text-center">Plan your trips, manage your expenses, and share your travel plans with friends and family.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body info-container">
            <div>
              <h5 class="card-title">Create a New Trip</h5>
              <p class="card-text">Start planning your next adventure by creating a new trip.</p>
            </div>
            <a href="/trips/create-trip" class="btn btn-primary mt-auto">Create Trip</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body info-container">
            <div>
              <h5 class="card-title">Add Friends</h5>
              <p class="card-text">Invite your friends to join your trips and share the experience.</p>
            </div>
            <a href="/friends/add-friend" class="btn btn-primary mt-auto">Add Friends</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body info-container">
            <div>
              <h5 class="card-title">View Your Trips</h5>
              <p class="card-text">Check out the trips you have already planned.</p>
            </div>
            <a href="/trips/my-trips" class="btn btn-primary mt-auto">View Trips</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>