<div data-th-fragment="content">
  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="card">
          <div class="card-header d-flex align-items-center justify-content-center" style="padding: 1rem;">
            <h5 class="mb-0">Trip Invitations</h5>
          </div>
          <div class="card-body">
            <div class="list-container">
              <ul class="list-group list-group-flush">
                <li class="list-group-item invitation-content" th:each="invitation : ${invitations}">
                  <span th:text="${invitation.trip.name} + ' - Invited by ' + ${invitation.sender.username}"></span>
                  <div>
                    <form th:action="@{/trips/accept-invitation}" method="post" class="d-inline">
                      <input type="hidden" name="invitationId" th:value="${invitation.id}" />
                      <button type="submit" class="btn btn-success btn-sm">Accept</button>
                    </form>
                    <form th:action="@{/trips/decline-invitation}" method="post" class="d-inline">
                      <input type="hidden" name="invitationId" th:value="${invitation.id}" />
                      <button type="submit" class="btn btn-danger btn-sm">Decline</button>
                    </form>
                  </div>
                </li>
              </ul>
            </div>
            <div th:if="${#lists.isEmpty(invitations)}" class="text-center">
              <p>No trip invitations found.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
