:root {
    --link-color: #212529;
    --text-color: #212529;
    --separator-color: #212529;
    --hover-background-color: #d2f4ea;
    --sidebar-background-color: rgb(242, 242, 242);
    /*    #dee2e6 old separator*/
}