.zoom-control {
    display: none;
}

.map-preview-header {
    text-align: center;
    width: 100%;
}

.scrollable-content {
    overflow-y: auto;
    max-height: 40.6rem;
}

.card-body {
    overflow: hidden;
    flex: 1 1 auto;
    padding: 1rem 1rem 0.5rem 1rem;
}
